<clr-main-container>
  <clr-header>
    Test App with Angular 9 and Clarity 3
    <div class="header-nav" [clr-nav-level]="1">
      ...
    </div>
    ...
  </clr-header>
  <div class="content-container">
    <app-side-nav></app-side-nav>
    <div class="content-area">
      <h1>Hello, World!</h1>
        <app-testjs></app-testjs>
        <app-fa-input [icon]="'calendar'"></app-fa-input>
        <br>
        <app-fa-input-two [icon]="'home'">
          <input inputRef type="email" placeholder="Email">
        </app-fa-input-two>
        <br>
      </div>
    </div>
    <app-clarity-test></app-clarity-test>
</clr-main-container>
